:root {
	--white: #ffffff;
	--black: #000000;
	--grayish: #ededed;
	--tinted-black: rgba(0, 0, 0, 0.5);
	--raisin-black: rgb(39, 40, 56);
	--flax: rgb(243, 222, 138);
	--coral-pink: rgb(235, 148, 134);
	--cool-gray: rgb(126, 127, 154);
	--seasalt: rgb(249, 248, 248);
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: var(--seasalt);
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px var(--seasalt) solid;
    border-radius: 10px;
	padding: 40px;
	background-color: rgb(187, 0, 255); 
}

.navbar a {
	text-decoration: none;
	font-size: 24px;
	padding: 10px 20px; /* same padding on normal & hover */
	color: var(--seasalt);
	transition: background-color 0.3s, border-radius 0.3s;
}

.navbar a:hover {
	border-radius: 10px;
	background-color: var(--tinted-black);
}

.title-link {
    display: inline-block; 
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.title-link:hover {
    background-color: var(--tinted-black);
}

body {
    margin: 0px;
    padding: 0px;
}

footer div a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px; 
    color: var(--raisin-black);
    transition: background-color 0.3s, border-radius 0.3s;
    border-radius: 30px;
    border: 2px solid transparent;
}

footer div a:hover {
    background-color: var(--tinted-black);
    border-radius: 30px; 
    border-color: var(--raisin-black);
}

footer {
	display: flex;
	justify-content: center;
	padding: 40px;
	color: var(--raisin-black);
	border: 2px var(--raisin-black) solid;
	/* color: var(--cool-gray); */
	/*background-color: var(--flax);*/
	margin-top: 30%;
}

.login_container {
    text-align: center;
    border-radius: 2px;
    border: 2px solid black;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

#loginForm input, #loginForm button {
    padding: 10px;
    font-size: 16px;
}